.about {
  max-width: 988px;
  margin-left: 180px;
  position: relative;
  padding-bottom:  111px;

  &::before {
    content: "";
    position: absolute;
    width: 218px;
    height: 317px;
    left: -213px;
    background-image: url("../img/2005.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/2005@x2.png");
      background-size: 220px 317px;
      background-repeat: no-repeat;
    }
  }
}

.about h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  margin-bottom: 20px;
  line-height: 140%;
  letter-spacing: .3px;
  display: block;
}

.about p {
  font-size: 1em;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  margin: 0 0 23px;
  line-height: 22px;
}

.about__btn {
  color: $accent-color;
  width: 180px;
  padding: 13px 10px;
  border: 1px solid $accent-color;
  margin-top: 40px;

  &:hover {
    background-color: $accent-color;
    color: $white;
  }

  &:active {
    opacity: 0.7;
  }
}

@media screen and (max-width: 1023px) {
  .about {
    margin-left: 188px;     
    padding-bottom: 80px;

    h2 {
      font-size: 2rem;
      margin-bottom: 28px;
    }

    p {
      letter-spacing: .1px;
      padding-left: 3px;
      margin-bottom: 22px;
    }

    &::before {
      height: 359px;
      background-image: url("../img/2005-tablet.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/2005-tablet@x2.png");
        background-size: 244px 359px;
      }
    }
  }

  .about p + p::after {
    content: "\2026";           
  }

  .about__hidden {
    display: none;
    position: relative;
  }        

  .about__btn {
    margin-top: 4px;
    padding: 11px 10px 12px;
    margin-left: 3px;
  }
}

@media screen and (max-width: 767px) {
  .about {
    width: 100%;
    margin-left: 0;
    position: relative;
    padding-bottom: 65px;
    padding-left: 5px;

    &::before {
      content: "";
      display: none;
    }

    h2 {
      font-size: 2rem;
      line-height: 130%;
      letter-spacing: -2px;
      margin-bottom: 18px;
    }

    p {
      margin: 0 0 45px;
      line-height: 22px;
    }

    p + p {
      margin: 0;
    }
  }

  .about__btn {
    margin-top: 32px;
    padding: 12px 10px 13px;
  }
}