.cta-btn {
        display: block;
        font-family: "Roboto Condensed", "Arial", sans-serif;
        font-size: 0.875rem;
        font-weight: 700;
        color: $white;
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid $white;
        border-radius: 5px;
        letter-spacing: 0.7px;
       outline: none;
       text-align: center;
        cursor: pointer;
}