$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$hero-bg-color: #1b2d37;
$accent-color: #00b2ff;
$border-color: #ebebeb;
$white: #fff;
$black: #000;
$text-color: #666;
$footer-text-color: rgb(27,45, 55);